{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="firstname" name="fname"><br>
        <input type="text" placeholder="lastname" name="lname"><br>
        <input type="text" placeholder="Username" name="username"><br>
        <input type="email" placeholder="email" name="email"><br>
        <input type="password" name="pass-1"><br>
        <input type="password" name="pass-2"><br>
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'loogin' %}" name="loogin">login</a>

    {% if messages %}
        {% for message in messages %}
            <div class="">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    
</body>
</html>